.reviews {
  padding-top: 20px;
}
.reviews .reviews-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews .reviews-content .title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100px;
  font-family: Chronicle !important;
}
.reviews .reviews-content .line {
  position: relative;
  width: 665px;
}
.reviews .reviews-content .line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #DCD9D0;
}
.reviews .reviews-content button {
  background-color: #9A231A;
  border: none;
  color: white;
  width: 181px;
  height: 42px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
}
@media (max-width: 768px) {
  .reviews .reviews-content .title {
    font-size: 24px;
    line-height: 30px;
  }
  .reviews .reviews-content .line {
    display: none;
  }
  .reviews .reviews-content button {
    width: 152px;
  }
}
.reviews .rating-reviews {
  border: 1px solid #B7A259;
  background-color: rgba(226, 215, 188, 0.0509803922);
  padding: 38px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 10px;
  margin-top: 20px;
}
.reviews .rating-reviews .rating-stars {
  text-align: center;
}
.reviews .rating-reviews .rating-stars h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  display: none;
}
.reviews .rating-reviews .rating-stars .list-style p {
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  color: #3F4042;
  margin-bottom: 10px;
}
.reviews .rating-reviews .rating-stars .list-style ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.reviews .rating-reviews .rating-stars .list-style ul li {
  color: #FCE79D;
  font-size: 14px;
}
.reviews .rating-reviews .rating-stars .list-style .rating-num {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
}
.reviews .rating-reviews .rating-stars a {
  color: #3F4042;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}
.reviews .rating-reviews .rating-line .title {
  display: flex;
  justify-content: space-between;
}
.reviews .rating-reviews .rating-line .title span {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #3F4042;
}
.reviews .rating-reviews .rating-line .line {
  border: 0.5px solid #B7A259;
  display: block;
  margin: 10px 0;
  padding: 2px 0;
  border-radius: 10px;
  position: relative;
}
.reviews .rating-reviews .rating-line .line::before {
  content: "";
  position: absolute;
  background-color: #B7A259;
  border-radius: 10px 0 0 10px;
  width: 80%;
  padding: 2px 0;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .reviews .rating-reviews .rating-stars {
    display: flex;
    justify-content: space-between;
  }
  .reviews .rating-reviews .rating-stars h3 {
    display: block;
  }
  .reviews .rating-reviews .rating-stars .list-style p {
    font-size: 18px;
    line-height: 20px;
  }
  .reviews .rating-reviews .rating-stars .list-style ul li {
    font-size: 7px;
  }
  .reviews .rating-reviews .rating-stars .list-style .rayting-num {
    display: block;
  }
  .reviews .rating-reviews .rating-stars a {
    display: none;
  }
}

.repairing_and_servicing {
  padding-top: 50px;
}
.repairing_and_servicing .repairing {
  border: 1px solid #B7A259;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .repairing_and_servicing .repairing {
    display: none;
  }
}
.repairing_and_servicing .repairing .title {
  border-bottom: 1px solid #B7A259;
  background: rgba(183, 162, 89, 0.2);
  padding: 16px;
  font-family: Chronicle;
}
.repairing_and_servicing .repairing .title h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
.repairing_and_servicing .repairing .content {
  padding: 30px;
}
.repairing_and_servicing .repairing .content .rating {
  text-align: center;
  border: 1px solid rgba(226, 215, 188, 0.6);
  background-color: rgba(226, 215, 188, 0.0509803922);
  padding: 4px 25px;
}
.repairing_and_servicing .repairing .content .rating .list-style p {
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  color: #3F4042;
  margin-bottom: 10px;
}
.repairing_and_servicing .repairing .content .rating .list-style ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.repairing_and_servicing .repairing .content .rating .list-style ul li {
  color: #FCE79D;
  font-size: 14px;
}
.repairing_and_servicing .repairing .content .rating .rating-line {
  margin-top: 30px;
}
.repairing_and_servicing .repairing .content .rating .rating-line .list {
  border-top: 1px solid #B7A259;
  display: flex;
  justify-content: space-between;
}
.repairing_and_servicing .repairing .content .rating .rating-line .list span {
  padding: 15px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.repairing_and_servicing .repairing .content .text .title-text h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-family: Chronicle;
}
.repairing_and_servicing .repairing .content .text .content-text {
  margin-top: 20px;
}
.repairing_and_servicing .repairing .content .text .content-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.repairing_and_servicing .repairing .content .user .img {
  width: 45px;
  height: 45px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin-top: 20px;
}
.repairing_and_servicing .repairing .content .user .free {
  margin-top: 20px;
}
.repairing_and_servicing .repairing .content .user .free p {
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
}
.repairing_and_servicing .repairing .content .button-read {
  margin-top: 30px;
  text-align: center;
}
.repairing_and_servicing .repairing .content .button-read .click {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  background: #9A231A;
  padding: 13px 26px;
}
.repairing_and_servicing .repairing .content .button-read .open {
  border: 1px solid #9A231A;
  padding: 13px 26px;
  line-height: 24.59px;
  font-weight: 400;
  font-size: 18px;
  color: #9A231A;
  text-decoration: none;
  background-color: inherit;
}
.repairing_and_servicing .repairing .content .button-read .open::after {
  content: "\f099";
  font-family: "Font Awesome 6 Free";
}
.repairing_and_servicing .repairing .accordion-down {
  border-top: 1px solid #B7A259;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.repairing_and_servicing .repairing .up {
  border-top: 1px solid #B7A259;
  transition: all 0.3s ease-in-out;
  height: auto;
  opacity: 1;
  visibility: visible;
}
.repairing_and_servicing .repairing .up .accordion_bar {
  padding: 10px 20px;
}
.repairing_and_servicing .repairing .up .accordion_bar .accordion_scroll {
  height: 100vh;
  overflow: auto;
  padding: 0px 30px;
}
.repairing_and_servicing .repairing .up .accordion_bar .accordion_scroll .scroll-txt {
  padding: 15px 0;
  border-bottom: 1px solid #B7A259;
}
.repairing_and_servicing .repairing .up .accordion_bar .accordion_scroll .scroll-txt:last-of-type.scroll-txt {
  border-bottom: none;
}
.repairing_and_servicing .repairing .up .accordion_bar .accordion_scroll .scroll-txt .scroll-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 35.42px;
  font-family: Chronicle;
}
.repairing_and_servicing .repairing .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info {
  margin-top: 20px;
}
.repairing_and_servicing .repairing .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info p {
  margin-bottom: 10px;
  font-family: Chronicle;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.57px;
}
.repairing_and_servicing .repairing .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.repairing_and_servicing .repairing .up .static-accordion {
  background: rgba(183, 162, 89, 0.2);
  padding: 33px 50px;
}
.repairing_and_servicing .repairing .up .static-accordion .static_title {
  height: 400;
  font-size: 24px;
  line-height: 20px;
}
.repairing_and_servicing .repairing .up .static-accordion .static_content {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.repairing_and_servicing .repairing-mobile {
  display: none;
  border: 1px solid #B7A259;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 10px;
  overflow: hidden;
}
.repairing_and_servicing .repairing-mobile .title {
  border-bottom: 1px solid #B7A259;
  background: rgba(183, 162, 89, 0.2);
  padding: 16px;
  font-family: Chronicle;
}
.repairing_and_servicing .repairing-mobile .title h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.repairing_and_servicing .repairing-mobile .user {
  padding: 10px 20px;
  border-bottom: 1px solid #B7A259;
}
.repairing_and_servicing .repairing-mobile .user .free {
  margin-top: 20px;
}
.repairing_and_servicing .repairing-mobile .user .free p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.repairing_and_servicing .repairing-mobile .rating-mobile .stars-mobile {
  padding: 10px 20px;
}
.repairing_and_servicing .repairing-mobile .rating-mobile ul {
  padding-left: 0;
  margin-bottom: 0;
}
.repairing_and_servicing .repairing-mobile .rating-mobile ul li {
  color: #FCE79D;
  font-size: 15px;
}
.repairing_and_servicing .repairing-mobile .rating-mobile .paragraph {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  padding: 10px 20px;
}
.repairing_and_servicing .repairing-mobile .rating-mobile .button-read {
  text-align: center;
  padding: 10px 0;
}
.repairing_and_servicing .repairing-mobile .rating-mobile .button-read .click {
  padding: 10px 15px;
  background-color: #9A231A;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.repairing_and_servicing .repairing-mobile .accordion-down {
  border-top: 1px solid #B7A259;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.repairing_and_servicing .repairing-mobile .up {
  border-top: 1px solid #B7A259;
  transition: all 0.3s ease-in-out;
  height: auto;
  opacity: 1;
  visibility: visible;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar {
  padding: 10px 20px;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar .accordion_scroll {
  padding: 0px 0px;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar .accordion_scroll .scroll-txt {
  padding: 15px 0;
  border-bottom: 1px solid #B7A259;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar .accordion_scroll .scroll-txt:last-of-type.scroll-txt {
  border-bottom: none;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar .accordion_scroll .scroll-txt .scroll-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 35.42px;
  font-family: Chronicle;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info {
  margin-top: 20px;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info p {
  margin-bottom: 10px;
  font-family: Chronicle;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.57px;
}
.repairing_and_servicing .repairing-mobile .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.repairing_and_servicing .repairing-mobile .up .static-accordion {
  background: rgba(183, 162, 89, 0.2);
  padding: 20px;
}
.repairing_and_servicing .repairing-mobile .up .static-accordion .static_title {
  height: 400;
  font-size: 24px;
  line-height: 20px;
}
.repairing_and_servicing .repairing-mobile .up .static-accordion .static_content {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
@media (max-width: 576px) {
  .repairing_and_servicing .repairing-mobile {
    display: block;
  }
}
.repairing_and_servicing .swiper_js {
  text-align: center;
  margin-top: 100px;
  position: relative;
}
.repairing_and_servicing .swiper_js .swiper-text {
  position: absolute;
  top: -60px;
  left: 48%;
}
.repairing_and_servicing .swiper_js .swiper-text p {
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .repairing_and_servicing .swiper_js .swiper-text {
    left: 45% !important;
  }
}
.repairing_and_servicing .swiper_js .seeall a {
  color: #3F4042;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}

.questions .head h2 {
  font-family: Chronicle;
  font-size: 48px;
  line-height: 100px;
  font-weight: 400;
}
.questions .question {
  border: 1px solid #B7A259;
  background: rgba(226, 215, 188, 0.0509803922);
}
.questions .question .question-line {
  border-bottom: 1px solid #B7A259;
}
.questions .question .question-line .question-content {
  padding: 30px 60px;
}
@media (max-width: 768px) {
  .questions .question .question-line .question-content {
    padding: 20px;
  }
}
.questions .question .question-line .question-content .title h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 35.42px;
  font-family: Chronicle;
}
.questions .question .question-line .question-content .question-text {
  font-family: Chronicle;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.questions .question .question-line .question-content .question-text .star-list {
  padding-left: 0;
  display: flex;
  gap: 5px;
  margin-top: 10px;
  align-items: center;
}
.questions .question .question-line .question-content .question-text .star-list li {
  color: #fce79d;
  font-size: 26px;
}
.questions .question .question-line .question-content .question-text .topic-input {
  border: 1px solid #B7A259;
  width: 350px;
  height: 48px;
  padding: 0 10px;
  margin-top: 15px;
  background-color: inherit;
  font-family: Avenir, sans-serif;
}
@media (max-width: 768px) {
  .questions .question .question-line .question-content .question-text .topic-input {
    width: 100%;
  }
}
.questions .question .question-line .question-content .question-text .topic-input::-moz-placeholder {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(63, 64, 66, 0.5019607843);
}
.questions .question .question-line .question-content .question-text .topic-input::placeholder {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(63, 64, 66, 0.5019607843);
}
.questions .question .question-line .question-content .question-text .label {
  margin-bottom: 20px;
}
.questions .question .question-line .question-content .question-text .label label {
  margin-right: 15px;
  font-family: Avenir, sans-serif !important;
}
.questions .question .question-line .question-content .question-text .submit button {
  padding: 15px 60px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: Avenir, sans-serif;
  margin-right: 20px;
}
.questions .question .question-line .question-content .question-text .submit .send {
  background: #9A231A;
}
.questions .question .question-line .question-content .question-text .submit .cancel {
  background-color: #E2D7BC;
}
.questions .question .question-line .question-content .question-text textarea {
  border: 1px solid #B7A259;
  width: 100%;
  height: 180px;
  padding: 10px 10px;
  margin-top: 15px;
  resize: none;
  background-color: inherit;
  font-family: Avenir, sans-serif;
}
.questions .question .question-line .question-content .question-text textarea::-moz-placeholder {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(63, 64, 66, 0.5019607843);
}
.questions .question .question-line .question-content .question-text textarea::placeholder {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(63, 64, 66, 0.5019607843);
}
.questions .question .question-line .question-content .question-text .limit-character {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-family: Avenir, sans-serif;
}
.questions .question .question-line .question-content .question-text .radio-list {
  padding-left: 0;
}
.questions .question .question-line .question-content .question-text .radio-list li {
  padding-left: 10px;
  margin-top: 20px;
}
.questions .question .question-line .question-content .question-text .radio-list li input[type=radio] {
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid #B7A259;
  -moz-appearance: none;
       appearance: none;
  top: 6px;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: transparent;
}
.questions .question .question-line .question-content .question-text .radio-list li input[type=radio]:checked::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #B7A259;
  width: 12px;
  height: 12px;
  background-color: #B7A259;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-51%, -52%);
  animation: appear 0.8s;
}
.questions .question .question-line .question-content .question-text .radio-list li .number {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.66px;
  text-align: center;
}

.section {
  padding: 40px 0;
}

.ratingtotal {
  border: 1px solid #B7A259;
  background-color: rgba(217, 217, 217, 0.0509803922);
  padding: 10px 40px;
}
.ratingtotal .title h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
}
.ratingtotal .end {
  text-align: end;
}
.ratingtotal .end ul li {
  color: #FCE79D;
  font-size: 14px;
}
.ratingtotal .total {
  margin-top: 20px;
}
.ratingtotal .total p {
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
}
.ratingtotal .total-rating span {
  font-size: 18px;
  line-height: 24.59px;
  font-weight: 400;
}
.ratingtotal .total-rating ul li {
  color: #FCE79D;
  font-size: 18px;
}
.ratingtotal .total-text .line .text {
  margin: 12px 0;
}
.ratingtotal .total-text .line .line-border {
  height: 4px;
  border: 1px solid #B7A259;
  border-radius: 10px;
  position: relative;
  margin-left: 42px;
}
.ratingtotal .total-text .line .line-border::before {
  content: "";
  position: absolute;
  background-color: #B7A259;
  height: 4px;
  border-radius: 10px 0 0 10px;
  width: 70%;
  left: -1px;
  top: -1px;
}

.pending-section {
  padding: 30px 0;
}
.pending-section .all-name .line {
  padding: 10px 0;
  border-top: 1px solid #E2D7BC;
}
.pending-section .all-name .line .pending .text-pending p {
  margin-bottom: 0;
}
.pending-section .all-name .line .pending ul {
  margin-bottom: 0;
  padding-left: 0;
}
.pending-section .all-name .line .pending ul li {
  color: #FCE79D;
  font-size: 12px;
}
.pending-section .all-name .line .pending .close {
  display: none;
}
.pending-section .all-name .line .pending .bur {
  display: block !important;
}
.pending-section .all-name .line .pending .bur .sistem {
  display: inline;
}
.pending-section .all-name .line .pending .bur .sistem a {
  color: #9A231A;
  font-size: 14px;
  font-weight: 400;
}
.pending-section .all-name .line .pending .bur .sistem a i {
  margin-right: 5px;
}
.pending-section .all-name .line .pending .opening {
  display: block;
}
.pending-section .all-name .line .pending .opening .sistem a {
  color: #9A231A;
  font-size: 14px;
  font-weight: 400;
}
.pending-section .all-name .line .pending .opening .sistem a i {
  margin-right: 5px;
}
.pending-section .all-name .line .pending .bir {
  display: none !important;
}
.pending-section .all-name .line .pending .angle {
  cursor: pointer;
}
.pending-section .all-name .line .pending .angle::before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.pending-section .all-name .line .down {
  border: 1px solid #B7A259;
  transition: all 0.3s ease-in-out;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.pending-section .all-name .line .up {
  border: 1px solid #B7A259;
  transition: all 0.3s ease-in-out;
  height: auto;
  opacity: 1;
  visibility: visible;
  margin: 40px 0;
}
.pending-section .all-name .line .up .accordion_bar {
  padding: 10px 20px;
}
.pending-section .all-name .line .up .accordion_bar .accordion_scroll {
  padding: 0px 30px;
}
.pending-section .all-name .line .up .accordion_bar .accordion_scroll .scroll-txt {
  padding: 15px 0;
  border-bottom: 1px solid #B7A259;
}
.pending-section .all-name .line .up .accordion_bar .accordion_scroll .scroll-txt:last-of-type.scroll-txt {
  border-bottom: none;
}
.pending-section .all-name .line .up .accordion_bar .accordion_scroll .scroll-txt .scroll-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 35.42px;
  font-family: Chronicle;
}
.pending-section .all-name .line .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info {
  margin-top: 20px;
}
.pending-section .all-name .line .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info p {
  margin-bottom: 10px;
  font-family: Chronicle;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.57px;
}
.pending-section .all-name .line .up .accordion_bar .accordion_scroll .scroll-txt .scroll-info span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.pending-section .all-name .line .up .static-accordion {
  background: rgba(183, 162, 89, 0.2);
  padding: 33px 50px;
}
.pending-section .all-name .line .up .static-accordion .static_title {
  height: 400;
  font-size: 24px;
  line-height: 20px;
}
.pending-section .all-name .line .up .static-accordion .static_content {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.modals {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px 0;
  background-color: #FCFAF5;
  border: 2px solid #E2D7BC;
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.2);
}
.modals .title {
  padding: 10px 0;
}
.modals .title .btn-close {
  width: 49px;
  height: 49px;
  border: 2px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 50%;
}
.modals .title h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
.modals .title p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  width: 282px;
}
.modals .btnt {
  padding: 17px 33px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  color: #fff;
  border: none;
}
.modals .cancel {
  background-color: #E2D7BC;
}
.modals .delet {
  background-color: #9A231A;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #fcfaf6 !important;
  font-size: 18px;
  color: #3F4042 !important;
  font-family: Avenir, sans-serif !important;
}

.container {
  max-width: 1140px !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  font-size: 18px;
}

.swiper-button-next {
  width: 38px !important;
  height: 38px !important;
  background-color: #9A231A;
  box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.2705882353);
  border-radius: 50%;
  top: -50px !important;
  left: 55% !important;
}
@media (max-width: 768px) {
  .swiper-button-next {
    left: 65% !important;
  }
}
.swiper-button-next::after {
  font-size: 20px !important;
  color: #fff !important;
}

.swiper-button-prev {
  width: 38px !important;
  height: 38px !important;
  background-color: #E2D7BC;
  border-radius: 50%;
  top: -50px !important;
  left: 42% !important;
}
@media (max-width: 768px) {
  .swiper-button-prev {
    left: 32% !important;
  }
}
.swiper-button-prev::after {
  font-size: 20px !important;
  color: #3F4042 !important;
}

@font-face {
  font-family: Avenir, sans-serif;
  src: local("Avenir"), url("../fonts/Avenir-Book/Avenir-Book.woff");
}
@font-face {
  font-family: Chronicle;
  src: url("../fonts/ChronicleDisplay-Black/ChronicleDisplay-Black.woff");
}/*# sourceMappingURL=style.css.map */