@import "pages/home";
@import "pages/quetions";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #fcfaf6 !important;
    font-size: 18px;
    color: #3F4042 !important;
    font-family: Avenir, sans-serif !important;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: Avenir, sans-serif;
    src: local('Avenir'),
    url("../fonts/Avenir-Book/Avenir-Book.woff");
}
@font-face {
    font-family: Chronicle;
    src: url("../fonts/ChronicleDisplay-Black/ChronicleDisplay-Black.woff");
}