.reviews {
    padding-top: 20px;

    .reviews-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-weight: 400;
            font-size: 36px;
            line-height: 100px;
            font-family: Chronicle !important;
        }

        .line {
            position: relative;
            width: 665px;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: #DCD9D0;
            }
        }

        button {
            background-color: #9A231A;
            border: none;
            color: #ffff;
            width: 181px;
            height: 42px;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.59px;
        }

        @media (max-width:768px) {
            .title {
                font-size: 24px;
                line-height: 30px;
            }

            .line {
                display: none;
            }

            button {
                width: 152px;
            }
        }
    }

    .rating-reviews {
        border: 1px solid #B7A259;
        background-color: #E2D7BC0D;
        padding: 38px;
        box-shadow: 0px 4px 8px 0px #00000026;
        border-radius: 10px;
        margin-top: 20px;

        .rating-stars {
            text-align: center;

            h3 {
                font-size: 18px;
                font-weight: 800;
                line-height: 20px;
                display: none;
            }

            .list-style {
                p {
                    font-size: 36px;
                    line-height: 40px;
                    font-weight: 800;
                    color: #3F4042;
                    margin-bottom: 10px;
                }

                ul {
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    gap: 5px;

                    li {
                        color: #FCE79D;
                        font-size: 14px;

                    }
                }

                .rating-num {
                    display: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.12px;
                }
            }

            a {
                color: #3F4042;
                font-size: 18px;
                font-weight: 400;
                line-height: 16px;

            }
        }

        .rating-line {
            .title {
                display: flex;
                justify-content: space-between;

                span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 16px;
                    color: #3F4042;
                }
            }

            .line {
                border: 0.5px solid #B7A259;
                display: block;
                margin: 10px 0;
                padding: 2px 0;
                border-radius: 10px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    background-color: #B7A259;
                    border-radius: 10px 0 0 10px;
                    width: 80%;
                    padding: 2px 0;
                    top: 0;
                    left: 0;
                }
            }
        }

        @media (max-width:768px) {
            .rating-stars {
                display: flex;
                justify-content: space-between;

                h3 {
                    display: block;
                }

                .list-style {
                    p {
                        font-size: 18px;
                        line-height: 20px;
                    }

                    ul {
                        li {
                            font-size: 7px;
                        }
                    }

                    .rayting-num {
                        display: block;
                    }
                }

                a {
                    display: none;
                }
            }

        }
    }
}

// Repairing and Servicing
.repairing_and_servicing {
    padding-top: 50px;
    .repairing {
        border: 1px solid #B7A259;
        box-shadow: 0px 4px 8px 0px #00000026;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width:576px) {
            display: none;
        }

        .title {
            border-bottom: 1px solid #B7A259;
            background: #B7A25933;
            padding: 16px;
            font-family: Chronicle;

            h2 {
                font-size: 36px;
                font-weight: 400;
                line-height: 40px;
            }
        }

        .content {
            padding: 30px;
            
            .rating {
                text-align: center;
                border: 1px solid #E2D7BC99;
                background-color: #E2D7BC0D;
                padding: 4px 25px;

                .list-style {
                    p {
                        font-size: 36px;
                        line-height: 40px;
                        font-weight: 800;
                        color: #3F4042;
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 0;
                        display: flex;
                        justify-content: center;
                        gap: 5px;

                        li {
                            color: #FCE79D;
                            font-size: 14px;

                        }
                    }
                }
                .rating-line{
                    margin-top: 30px;
                    .list{
                    border-top: 1px solid #B7A259;
                    display: flex;
                    justify-content: space-between;
                    span{
                        padding: 15px 5px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
                }
            }
            .text{
                .title-text{
                    h3{
                        font-size: 18px;
                        line-height: 20px;
                        font-weight: 400;
                        font-family: Chronicle;
                    }
                }
                .content-text{
                    margin-top: 20px;
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
            .user{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: -30px;
                    left: -14px;
                    background-color: #B7A259;
                    width: 1px;
                    height: 40vh;
                }
                .img{
                    width: 45px;
                    height: 45px;
                    background-color: #D9D9D9;
                    border-radius: 50%;
                    margin-top: 20px;
                }
                .free{
                    margin-top: 20px;
                    p{
                        font-size: 18px;
                        line-height: 16px;
                        font-weight: 400;
                    }
                }
            }
            .button-read{
                margin-top: 30px;
                text-align: center;
                .click{
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.59px;
                    background: #9A231A;
                    padding: 13px 26px;
                }
                .open{
                    border: 1px solid #9A231A;
                    padding: 13px 26px;
                    line-height: 24.59px;
                    font-weight: 400;
                    font-size: 18px;
                    color: #9A231A;
                    text-decoration: none;
                    background-color: inherit;
                    &::after{
                        content: '\f099';
                        font-family: "Font Awesome 6 Free";
                    }
                }
            }
        }
        .accordion-down{
            border-top: 1px solid #B7A259;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        .up{
            border-top: 1px solid #B7A259;
            transition: all 0.3s ease-in-out;
            height: auto;
            opacity: 1;
            visibility: visible;
            .accordion_bar{
                padding: 10px 20px;
                .accordion_scroll{
                    height: 100vh;
                    overflow: auto;
                    padding: 0px 30px;

                    .scroll-txt{
                        &:last-of-type.scroll-txt{
                            border-bottom: none;
                        }
                        padding: 15px 0;
                        border-bottom: 1px solid #B7A259;
                        .scroll-title{
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 35.42px;
                            font-family: Chronicle;
                        }
                        .scroll-info{
                            margin-top: 20px;
                            p{
                                margin-bottom: 10px;
                                font-family: Chronicle;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 26.57px;
                            }
                            span{
                                font-size: 18px;
                                line-height: 20px;
                                font-weight: 400;
                            }
                            .red{
                                color: #9A231A;
                            }
                        }
                    }
                }
            }
            .static-accordion{
                background: #B7A25933;
                padding: 33px 50px;
                .static_title{
                    height: 400;
                    font-size: 24px;
                    line-height: 20px;
                }
                .static_content{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
    .repairing-mobile{
        display: none;
        border: 1px solid #B7A259;
        box-shadow: 0px 4px 8px 0px #00000026;
        border-radius: 10px;
        overflow: hidden;
        .title {
            border-bottom: 1px solid #B7A259;
            background: #B7A25933;
            padding: 16px;
            font-family: Chronicle;

            h2 {
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
            }
        }
        .user{
            padding: 10px 20px;
            border-bottom: 1px solid #B7A259;
            .free{
                margin-top: 20px;
                p{
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 400;
                }
            }
        }
        .rating-mobile{
            // padding: 10px 20px;
            .stars-mobile{
                padding: 10px 20px;
            }
            ul{
                padding-left: 0;
                margin-bottom: 0;
                li{
                    color: #FCE79D;
                    font-size: 15px;
                }
            }
            .paragraph{
                font-size: 14px;
                font-weight: 400;
                margin-top: 10px;
             padding: 10px 20px;

            }
            .button-read{
                text-align: center;
                padding: 10px 0;
                .click{
                    padding: 10px 15px;
                    background-color: #9A231A;
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
        .accordion-down{
            border-top: 1px solid #B7A259;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        .up{
            border-top: 1px solid #B7A259;
            transition: all 0.3s ease-in-out;
            height: auto;
            opacity: 1;
            visibility: visible;
            .accordion_bar{
                padding: 10px 20px;
                .accordion_scroll{
                    padding: 0px 0px;

                    .scroll-txt{
                        &:last-of-type.scroll-txt{
                            border-bottom: none;
                        }
                        padding: 15px 0;
                        border-bottom: 1px solid #B7A259;
                        .scroll-title{
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 35.42px;
                            font-family: Chronicle;
                        }
                        .scroll-info{
                            margin-top: 20px;
                            p{
                                margin-bottom: 10px;
                                font-family: Chronicle;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 26.57px;
                            }
                            span{
                                font-size: 18px;
                                line-height: 20px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .static-accordion{
                background: #B7A25933;
                padding: 20px;
                .static_title{
                    height: 400;
                    font-size: 24px;
                    line-height: 20px;
                }
                .static_content{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
        @media (max-width:576px) {
            display: block;
        }
    }
    .swiper_js{
        text-align: center;
        margin-top: 100px;
        position: relative;
        .swiper-text{
            position: absolute;
            top: -60px;
            left: 48%;
            p{
                font-size: 12px;
                font-weight: 400;
            }
            @media (max-width:768px) {
                left: 45% !important;
            }
        }
        .seeall{
            a{
                color: #3F4042;
                font-size: 18px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
}